<div class='h-100 d-flex flex-column flex-grow-1 border border-primary'>
  <div class='w-100 h-auto'>
    <div id='pageheader' class='w-100 h-50 bg-dark justify-content-center'>
      <h1 class='text-white'>Blood Pressure Tracker</h1>
    </div>
    <div>
      <div
        id='homebody'
        class='input-group d-flex flex-column justify-content-center px-2'
      >
        <span class='input-type-text'>Please enter your name:</span>
        <div class='d-flex'>
          <input
            type='text'
            class='form-control w-50'
            oninput='testFunction()'
            onsubmit="submitFunction()"
          />
          <button class='w-25 ml-3' type='submit'>Submit</button>
        </div>
      </div>
    </div>
  </div>
  <script src='./js/script.js'></script>
</div>