<div class='h-100 w-100'>
  <div class='w-100'>
    <div id='pageheader' class='w-100 h-50 bg-dark d-flex justify-content-center'>
      <h1 class='text-white'>Blood Pressure Tracker</h1>
    </div>
    <div>
      <div id='homebody' class='input-group d-flex flex-column align-items-center justify-content-center px-2'>
        <span class='input-type-text mt-2'>
          <h4 id="namecolumn" class=""></h4>
        </span>
        <form id='nameentryform' onsubmit="submitFunction(event)">
          <div class="d-flex my-2">
            <input id='nameinputfield' type='text' style="margin-right: 10px;"
              class='form-control w-auto bg-dark text-white' />
            <button class='w-auto rounded' type='submit'>Submit</button>
          </div>
        </form>
        <form action="" id="bptrackerform" style="visibility: visible">
          <div class="d-flex justify-content-center w-auto">
            <input type="datetime-local" name="" id="entrydate" class="w-25 rounded bg-dark text-white">
            <input type="number" name="bpvalue" id="systolicVal" class="w-auto rounded bg-dark text-white">
            <h5>/</h5>
            <input type="number" name="bpvalue" id="diastolicVal" class="w-auto rounded bg-dark text-white">
            <button id='entrysavebutton' class="rounded bg-success text-white mx-2">Save</button>
            <button class="rounded bg-info text-white">+</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src='./js/script.js'></script>
</div>